/* ************* HOME PAGE CONTAINER*************** */
.homePage {
    background: linear-gradient(27deg, #077b3a, #102a1c, #020700, #077b3a);
    width: 100%;
    height: 100vh;
    position: relative;

    /* ************* HOME PAGE HEADER*************** */
    .movieNavigation {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 2rem 0rem 2rem;
        gap: 930px;

        /* ************* HOME CINEMA LOGO SVG*************** */

        .SvgWrapperMovie {
            width: 130px;
            height: auto;
        }

        .SvgWrapperMovie img {
            width: 100%;
            height: 100%;
        }

        /* ************* BUTTON NAVIGATION CONTAINER*************** */
        .navregister {
            display: flex;
            gap: 15px;
            /* ************* BUTTON HEADER *************** */

            button {
                font-size: 15px;
                padding: 10px 15px;
                border: none;
                border-radius: 10px;
            }

            /* ************* lOGIN BUTTON *************** */

            .loginButton {
                background-color: rgba(29, 231, 130, 1);
            }

            /* *************  ANCOL TAG *************** */

            a {
                color: white;
            }

            /* ************* REGISTRATION BUTTON *************** */

            .registerButton {
                background-color: transparent;
                border: 1px solid white;
                color: black;
            }
        }
    }

    /* ************* MOVIE CONTAINER  *************** */
    .homeMovieContainer {
        display: flex;
        flex-direction: column;
        padding-bottom: 5px;
        text-align: center;
        gap: 2px;

        /* *************SHOW HEADING TEXT  *************** */

        h2 {
            text-transform: capitalize;
            font-family: Poppins;
            font-size: 40px;
            font-weight: 700;
            line-height: 46px;
            color: rgba(255, 255, 255, 1);
            margin: 0;
            margin-bottom: 4px;
            margin-top: -15px;
        }
    }

    /* ************* MOVIES COLUMN IMGES CONTAINER *************** */
    .moviesTemplates {
        display: flex;
        flex-direction: column;
        gap: 15px;

        /* ************* MOVIE  ROWS*************** */

        .moviesWrappers {
            display: flex;
            justify-content: center;
            gap: 25px;
            color: white;
            font-weight: 400px;

            /* *************  MOVIE IMG WRAB *************** */

            .movieImgWrapper {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 5px;
                width: 160px;
                height: auto;

                /* ************* MOVIEW  img ROWS*************** */
                img {
                    width: 100%;
                    height: 100%;
                }

            }

        }

    }
}

/********************  ERROR ********************/
.Error {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    color: red;
}


/* ***************Circle Loader******************* */
.circleLoader {
    width: 300px;
    position: absolute;
    top: 200px;
    left: 550px;
}