/* ************* HOME PAGE CONTAINER*************** */
.homePage {
    background: linear-gradient(27deg, #077b3a, #102a1c, #020700, #077b3a);
    width: 100%;
    height: 100%;
}

/********************  ERROR ********************/
.Error {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    color: red;
}

/* ***************Circle Loader******************* */
.circleLoader {
    width: 300px;
    position: absolute;
    top: 200px;
    left: 550px;
}

/* ************* HOME PAGE HEADER*************** */

.movieNavigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem 0.5rem 3rem;
    gap: 930px;
}

/* ************* HOME CINEMA LOGO SVG*************** */

.SvgWrapperMovie {
    width: 100%;
    height: 100%;
}

/* ************* BUTTON NAVIGATION CONTAINER*************** */

.navregister {
    display: flex;
    gap: 15px;
}

/* ************* BUTTON HEADER *************** */

.navregister button {
    font-size: 16px;
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
}

/* ************* lOGOUT BUTTON *************** */

.navregister .log-Out {
    background: rgba(220, 0, 0, 1);
}

/* *************  ANCOL TAG *************** */

.navregister a {
    color: white;
}

/* ************* TICKET BUTTON *************** */

.navregister .ticket span {
    padding: 3px;
}

.navregister .ticket {
    background-color: transparent;
    color: black;
    padding: 5px 20px;
}

/* ################################ */

/* ************* MOVIE CONTAINER  *************** */

/* ************* MOVIE CONTAINER  *************** */

.logOutMovieContainer {
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
    text-align: center;
    gap: 10px;
}

/* *************SHOW HEADING TEXT  *************** */

.logOutMovieContainer h2 {
    text-transform: capitalize;
    font-family: Poppins;
    font-size: 40px;
    font-weight: 700;
    line-height: 46px;
    color: rgba(255, 255, 255, 1);
    margin: 0;
}

/* ************* MOVIES COLUMN IMGES CONTAINER *************** */
.moviesTemplates {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* ************* MOVIE  ROWS*************** */

.moviesWrappers {
    display: flex;
    justify-content: center;
    gap: 25px;
    color: white;
    font-weight: 400px;
}

/* *************  MOVIE IMG WRAB *************** */

.movieImgWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 160px;
    height: auto;

}

.movieImgWrapper {
    font-size: 15px;
    margin: 0;
}

/* ************* MOVIEW  img ROWS*************** */

.movieImgWrapper img {
    width: 100%;
    height: 100%;
}