/*************Login  page Container ***********/

.login-Container {
    background: linear-gradient(27deg, #077b3a, #102a1c, #020700, #077b3a);
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;


    /*************form Container ***********/

    .loginWrapper {
        text-transform: none;
        background-color: var(--white-color);
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 450px;
        height: fit-content;
        padding: 2rem;
        border-radius: 10px;
        /*************Login Form Container ***********/

        .logincontent {
            display: flex;
            flex-direction: column;
            gap: 15px;
            font-size: 14px;
            font-weight: 400;
            line-height: 16px;
            text-align: left;
            color: rgba(90, 90, 93, 1);

            .noteformWrapper {
                text-align: center;
            }

            /*************Login input Wrapper ***********/

            .LoginformWrapper {
                display: flex;
                flex-direction: column;
                gap: 10px;
                text-transform: capitalize;

                input {
                    width: 100%;
                    height: 40px;
                    border-radius: 5px;
                    border: 1px solid var(--border-color);
                    color: var(--text-black-primary);
                }

                .eyeWrappersvg {
                    position: relative;
                    display: flex;
                    align-items: center;

                    img {
                        position: absolute;
                        right: 5px;
                        width: 20px;
                    }
                }

                &:active {
                    border: none;
                }


                /*************Login to Submite ***********/
                .submite {
                    background: var(--green-color);
                    align-items: center;
                    color: var(--white-color);
                    font-weight: bold;
                    border: none;
                    font-size: 18px;
                    width: 100%;

                    &:disabled {
                        background-color: var(--button-disable);
                    }
                }

                /*************Login List  ***********/
                // ul {
                //     /* text-align: center; */
                //     margin-top: 0px;
                //     margin-left: 10px;
                // }

                // ul li {
                //     display: inline;
                //     padding-left: 5px;
                // }

                // ul li :first-child {
                //     padding: 0;
                // }

            }

        }

    }

}

/* ***************Circle Loader******************* */
.circleLoader {
    width: 300px;
    position: absolute;
    top: 200px;
    left: 520px;
}




/********************  ERROR ********************/
.Error {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    color: red;
}