/* ************ DignIn Page Container ************** */

.formContainer {
    display: flex;
    background-color: white;
    height: 100vh;
}

/* ************  Logo Wrapper  Container ************** */
.cinemaTicket {
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 2rem;
    width: 50%;
    background: linear-gradient(27deg, #077b3a, #102a1c, #020700, #077b3a);
}

/* ************ SVG ************** */

.SvgWrapperMovie {
    padding-top: 30px;
    opacity: 0px;
}

/* ************ SIGN IN TEXT ************** */

.cinemaTicket span {
    color: rgba(255, 255, 255, 0.44);
    font-family: Poppins;
    font-size: 50px;
    font-style: italic;
    font-weight: 300;
    line-height: 67 .2px;
    text-align: left;
    margin-bottom: 30px;

}

/* ************ Form Container ************** */

.formcontent {
    width: 50%;
    display: flex;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* ************ span ************** */

.formcontent span {

    font-size: 30px;
    font-weight: bold;
    color: black;
}

.formcontent small {
    font-size: 20px;
    text-transform: capitalize;
}

/* ************ form Wrapper Input  ************** */

.SignInSection {
    padding: 1rem 1.5rem 0.2rem 2rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: rgba(90, 90, 93, 1);
    border-radius: 10px;
    /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
}

/********************  ERROR ********************/
.Error {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    text-transform: capitalize;
    color: red;
}



/* ***************Circle Loader******************* */

.circleLoader {
    width: 170px;
    position: absolute;
    top: 600px;
    left: 650px;
}

/* ************ Input Wrapper ************** */

.formWrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    text-align: left;

}

.formWrapper input {
    width: 400px;
    height: 40px;
    border-radius: 5px;
}

/* ************ Sumbite  ************** */

.formWrapper .submite {
    background: rgba(29, 231, 130, 1);
    align-items: center;
    color: rgba(90, 90, 93, 1);
    border: none;
    font-size: 18px;
}

/* ************ List  ************** */

.formWrapper ul {
    text-align: left;
    margin-top: 0px;
    margin-left: 50px;
}

.formWrapper ul li :first-child {
    padding: 0;
}

.formWrapper ul li {
    display: inline;
    padding-left: 5px;
}