@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    --text-black-primary: rgba(90, 90, 93, 1);
    --text-black-ternory: black;
    --border-color: rgba(190, 190, 191, 1);
    --green-color: rgba(29, 231, 130, 1);
    --white-color: white;
    --button-disable: rgb(105 216 160)
}

a {
    text-decoration: none;
    color: var(--green-color);
}